<mat-card>
<mat-grid-list cols="4" rowHeight="80px">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearancece="fill">
      <mat-label>Номер</mat-label>
      <input matInput type="number" maxlength="3" [(ngModel)]="position" min="1" (change)="checkExist()"/>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearance="fill">
      <mat-label>Дата урока</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateSubject" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearancece="fill" style="width: 100%">
      <mat-label>Тема урока</mat-label>
      <input matInput  type="text"  [(ngModel)]="topic"/>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="1">
    <mat-form-field appearancece="fill">
      <mat-label>Домашнее задание</mat-label>
      <textarea matInput [(ngModel)]="homework" ></textarea>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="1">
    <mat-form-field appearancece="fill">
      <mat-label>Примечание</mat-label>
      <textarea matInput  [(ngModel)]="notice" ></textarea>  
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    
  </mat-grid-tile>

</mat-grid-list>

<div class="button-block">
  <button mat-raised-button (click)="addElement()" [innerText]="buttonText"></button>
  <button mat-raised-button (click)="clean()">Очистить</button>
</div>
</mat-card>