th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 0 !important;
}

mat-form-field.grades {
  width: 30px;
}

.lesson {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.button-block {
  margin-bottom: 12px;
  margin-top: 12px;
}