<subject-item #item [parent]="instance"></subject-item>

<table mat-table [dataSource]="subjects" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef >Номер</th>
    <td mat-cell *matCellDef="let element" (click)="getRecord(element)">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="dateSubject">
    <th mat-header-cell *matHeaderCellDef>Дата урока</th>
    <td mat-cell *matCellDef="let element" (click)="getRecord(element)">
      {{ element.dateSubject | date: "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef>Тема урока</th>
    <td mat-cell *matCellDef="let element" (click)="getRecord(element)">{{ element.topic }}</td>
  </ng-container>

  <ng-container matColumnDef="homework">
    <th mat-header-cell *matHeaderCellDef>Домашнее задание</th>
    <td mat-cell *matCellDef="let element" (click)="getRecord(element)">{{ element.homework }}</td>
  </ng-container>

  <ng-container matColumnDef="notice">
    <th mat-header-cell *matHeaderCellDef>Примечание</th>
    <td mat-cell *matCellDef="let element" (click)="getRecord(element)">{{ element.notice }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Удалить</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="deleteItem(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>